.btn-h1-spacing {
    margin-top: 18px;
}

.btn-h5-spacing {
    margin-top: 8px;
}

.hid {
    display: none;
}

.comment {
    margin-bottom: 45px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float:left;
    margin-left: 15px;
}

.author-name>h4 {
    margin: 5px 0px;
}

.author-name>p {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comment-count {
    margin-bottom: 45px;
}

.backend-comments {
    margin-top: 50px;
}

#a01 {
  height: 35px;

}

.wrappers {
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: #d9d9d9;
  border-radius: 22px;
  opacity: 0.8;
}

.wrappersC {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #99ffff;
  border-radius: 22px;
  opacity: 0.8;
}

footer {
  color: white;
}
